%footer
  .container
    %p.pull-right
      = link_to "Home", root_path
      ·
      \#{link_to "About", "#"}
      ·
      \#{link_to "Contact Us", "#"}
      ·
      \#{link_to "Terms", "#"}
      ·
      \#{link_to "Privacy", "#"}
    %p
      © #{Date.today.year} #{app_name}. All rights reserved.
    %p
      Theme by #{link_to "Dresssed", "http://dresssed.com"}.
  / /.container
